body{
    margin: 10px;
    padding: 20px;
}

.box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 3, 2);
    padding: 20px;;
    color: rgb(251, 251, 252);
    display: flex;
    justify-content:space-around;
    
}
