body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.content {
    text-align: center;
    margin: 50px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
